<div class="container-fluid">
  <div class="row">
    <h1 class="fw-bold fs-12" style="color: #3F0869;">Front End</h1>

  <div class="front">
    <div class="course">
      <h4>Rocketseat</h4>
      <p>Bootcampo focado em front end para voce desenvolver projetos
       .</p>

       <button type="button" class="d-flex justify-content-center btn-go">
        <a class="text-white" href="https://app.rocketseat.com.br" >Inscreva-se</a></button></div>

    <div class="course">
      <h4>Kenzie</h4>
      <p>Seja um profissional na programação em 1 ano e pague somente quando ganhar R$3.000!</p>
      <button type="button" class="d-flex justify-content-center btn-go">
        <a class="text-white" href="https://kenzie.com.br/v2/" >Inscreva-se</a></button>
    </div>

    <div class="course">
      <h4>Origamid</h4>
      <p>Aprenda do zero Web Design e comece a sua carreira de UX / UI Designer e Desenvolvedor Front end.</p>
      <button type="button" class="d-flex justify-content-center btn-go">
        <a class="text-white" href="https://www.origamid.com" >Inscreva-se</a></button>
    </div>
    <div class="course">
      <h4>Coursera</h4>
      <p>Melhores cursos focados em front end e desenvolvimento web.</p>
     <button type="button" class="d-flex justify-content-center btn-go">
        <a class="text-white" href="https://pt.coursera.org/courses?query=front%20end" >Inscreva-se</a></button>
    </div>
    <div class="course">
      <h4>Mentorama</h4>
      <p>você aprenderá o stack de tecnologias completo e suficiente para começar a carreira de Desenvolvedor Front-End</p>
      <button type="button" class="d-flex justify-content-center btn-go">
        <a class="text-white" href="https://mentorama.com.br/profession-front-end" >Inscreva-se</a></button>
    </div>


  </div>


</div>

<!-- == back end -->
<div class="row">
  <h1 class="fw-bold fs-12" style="color: #3F0869;">Back End</h1>

<div class="front">
  <div class="course">
    <h4>Rocketseat</h4>
    <p>Bootcampo focado em front end para voce desenvolver projetos
      tecnologas como css, javascript e angular.</p>
    <button type="button" class="d-flex justify-content-center btn-go">
      <a class="text-white" href="https://app.rocketseat.com.br" >Inscreva-se</a></button>
  </div>

  <div class="course">
    <h4>Curso em video</h4>
    <p>Bootcampo focado em front end para voce desenvolver projetos
     .</p>
    <button type="button" class="d-flex justify-content-center btn-go">
      <a class="text-white" href="https://app.rocketseat.com.br" >Inscreva-se</a></button>
  </div>

  <div class="course">
    <h4>Code Academy</h4>
    <p>Bootcampo focado em front end para voce desenvolver projetos
     .</p>
    <button type="button" class="d-flex justify-content-center btn-go">
      <a class="text-white" href="https://app.rocketseat.com.br" >Inscreva-se</a></button>
  </div>
  <div class="course">
    <h4>Dio</h4>
    <p>Bootcampo focado em front end para voce desenvolver projetos
     .</p>
   <button type="button" class="d-flex justify-content-center btn-go">
      <a class="text-white" href="https://app.rocketseat.com.br" >Inscreva-se</a></button>
  </div>
  <div class="course">
    <h4>Alura</h4>
    <p>Bootcampo focado em front end para voce desenvolver projetos
     .</p>
    <button type="button" class="d-flex justify-content-center btn-go">
      <a class="text-white" href="https://app.rocketseat.com.br" >Inscreva-se</a></button>
  </div>


</div>


</div>

<!-- == banco de dados -->

<div class="row">
  <h1 class="fw-bold fs-12" style="color: #3F0869;">Banco de dados</h1>

<div class="front p-50">
  <div class="course">
    <h4>Rocketseat</h4>
    <p>Bootcampo focado em front end para voce desenvolver projetos
      tecnologas como css, javascript e angular.</p>
    <button type="button" class="d-flex justify-content-center btn-go">
      <a class="text-white" href="https://app.rocketseat.com.br" >Inscreva-se</a></button>
  </div>

  <div class="course">
    <h4>Curso em video</h4>
    <p>Bootcampo focado em front end para voce desenvolver projetos
     .</p>
    <button type="button" class="d-flex justify-content-center btn-go">
      <a class="text-white" href="https://app.rocketseat.com.br" >Inscreva-se</a></button>
  </div>

  <div class="course">
    <h4>Code Academy</h4>
    <p>Bootcampo focado em front end para voce desenvolver projetos
     .</p>
    <button type="button" class="d-flex justify-content-center btn-go">
      <a class="text-white" href="https://app.rocketseat.com.br" >Inscreva-se</a></button>
  </div>
  <div class="course">
    <h4>Dio</h4>
    <p>Bootcampo focado em front end para voce desenvolver projetos
     .</p>
   <button type="button" class="d-flex justify-content-center btn-go">
      <a class="text-white" href="https://app.rocketseat.com.br" >Inscreva-se</a></button>
  </div>
  <div class="course">
    <h4>Alura</h4>
    <p>Bootcampo focado em front end para voce desenvolver projetos
     .</p>
    <button type="button" class="d-flex justify-content-center btn-go">
      <a class="text-white" href="https://app.rocketseat.com.br" >Inscreva-se</a></button>
  </div>


</div>


</div>

<!-- Google -->


</div>
