<div class="navbar">
  <!-- <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <img src="{{foto}}" alt="" width="50px" height="50px" class=" user-ft img-fluid rounded-circle">
       <p class="m-0 fw-bold text-white fs-16">Bem vinda, {{nome}}</p>

    </div>
  </nav> -->
    <nav id="nav">

        <img  src="{{foto}}" alt="" width="45px" height="45px" class=" user-ft img-fluid rounded-circle">
         <p class="m-0 fw-bold text-white fs-16">Bem vinda, {{nome}}</p>


      <ul class="nav-list">
        <div class="dropdown">
          <a class="dropdown-toggle a-toggle"  id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            Editar
          </a>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" routerLink="/tema">Editar e criar tema</a></li>
            <li><a class="dropdown-item" [routerLink]="['/usuario-edit', id]">Editar usuário</a></li>
          </ul>
        </div>
        <li> <a class="text-white" routerLink="/inicio"> Feed </a> </li>
        <li> <a class="text-white" routerLink="/cursos"> Cursos </a> </li>
      </ul>

      <form class="d-flex">
        <button class="btn btn-log " type="submit"  (click)='sair()'>Sair</button>
      </form>
    </nav>
    </div>

