<div class="container-fluid">
  <div class="row">
    <div class="col-md-6" id="img-bg">

    </div>
    <div class="col-md-6 mt-5 mb-5">
      <div class="row d-flex justify-content-center">
        <div class="col-md-10">
          <h1 class="text-center">Cadastre-se !</h1>
          <div class="form-group">
            <label for="nome" >Nome</label>
            <input class="form-control" [(ngModel)]='usuario.nome' type="text" name="nome" id="nome" placeholder="ex: Maria da Silva" >
          </div>
          <div class="form-group">
            <label for="usuario">E-mail</label>
            <input class="form-control" [(ngModel)]='usuario.usuario' type="email" name="email" id="usuario" placeholder="example@email.com" >
          </div>
          <div class="form-group">
            <label for="foto" >Foto</label>
            <input class="form-control" [(ngModel)]='usuario.foto 'type="text" name="foto" id="foto" placeholder="ex: https://imgur.com">
          </div>
          <div class="form-group">
            <label for="senha">Senha</label>
            <input class="form-control" (input)='confirmSenha($event)' type="password" name="senha" id="senha" placeholder="Digite a sua senha" >
          </div>
          <div class="form-group">
            <label for="confirmarSenha">Confirmar Senha</label>
            <input class="form-control" [(ngModel)]='usuario.senha' type="password" name="confirmSenha" id="confirmSenha" placeholder="Confirme a sua senha" >
          </div>

          <div class="form-group">
            <label for="senha">Tipo de Usuário</label>
            <select class="form-control" id="tipo" change="tipoUsuario($event)" name="tipo">
              <option>Selecione o tipo de usuário</option>
              <option value="normal">Normal</option>
              <option value="adm">Administrador</option>
            </select>
          </div>

          <div class="d-flex justify-content-center buttons">
              <button routerLink="/entrar" type="submit" class="btn btn-danger button-cancelar"  >Cancelar</button>
              <button type="submit" class="btn btn-success button-cadastrar" (click)='cadastrar()'>Cadastrar</button>
          </div>
        </div>
    </div>
  </div>
</div>
