*{
  font-family: 'Poppins', sans-serif;

}

#img-bg{
  background-image: url('../../assets/Mobile\ login.gif');
  min-height: 695px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.form-control, select::placeholder {
  color: #928a8a;
  font-weight: 400;
  font-size: 14px;
}

.form-group label{
  font-weight: normal;
  line-height: 10px;
  font-size: 14px;
  font-family: 'Nunito', sans-serif;
  padding-top: 15px;

}

.form-group{
  margin-top: 9px;
}

.btnCadastro{
  float: left;
}

.buttons{
  float: right;
}

.button-cadastrar, .button-cancelar{
  margin-top: 15px;
  width: 150px;
}

.button-cancelar{
  margin-right: 10px;
  background-color: #7F265B;
  border: none
}
