#img-bg{
  background-image: url('../../assets/Group\ 3.jpg');
  min-height: 695px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}

.form-group, .button{
  padding-top: 10px;
}
