@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;1,500;1,700&family=Nunito:ital,wght@0,400;0,700;1,200;1,400&family=Poppins:ital,wght@0,500;0,600;1,400&family=Roboto:ital,wght@0,300;0,400;0,700;1,300&display=swap');


.form-group label{
  font-weight: bold;
  line-height: 10px;
  font-size: 14px
}



html{
  scroll-behavior: smooth;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


.fs-h1 h1{
  font-size: 54px;
  background-color: red;
}

.fs-18{
  font-size: 18pt;
}
