.fs-54{
  font-size: 30px;

}

.fs-18{
  font-size: 18px;
}

.mat-tab-group {
  margin-bottom: 48px;
}

.novo-post{
  margin-right: 10px;
}

.card-colums img{
  height: 100%;
}

.card-t{
  margin-top: 20px;
}

*{
  text-decoration: none;
}

.new-post button{
  background-color: #3F0869;
  width: 158px;
  height: 37px;
  border-width: 0px;
  color: #fff;


}


.new-post{
  align-items: center;
  text-align: center;
  margin: 0 auto;
  padding-top: 48px;
  padding-bottom: 48px;
}


.courses{
  width: 300px;
  height: 160px;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

  margin-bottom: 10px;
}

.courses-area{
  padding-top: 80px;
}

.c1{
  padding-top: 10px;
}

.courses-area h2{
  width: 220px;
height: 32px;
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: 800;
font-size: 16px;
line-height: 18px;
color: #000;
margin: 0 auto;
text-align: center;
margin-bottom: 8px;
}

.courses-area hr{
  text-align: center;
  margin: 0 auto;
  padding-bottom: 3px;
  margin-bottom: 10px
}

.courses h4{
font-family: 'Poppins', cursive;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 15px;
align-items: center;
text-align: center;
margin: 0 auto;

color: #000000;
margin-top: 5px;
color: #3F0869;
}

.courses p{

font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 18px;
text-align: center;
margin: 0 auto;
padding-top: 9px;
margin-bottom: 15px;
}

.btn-go{
  width: 120px;
  height: 30px;
  background: #3F0869;
  color: #fff;
font-family: 'Poppins', sans-serif;
font-style: normal;
font-weight: normal;
font-size: 12px;
line-height: 12px;

color: #FFFFFF;
border-width: 0px;
align-items: center;
margin: 0 auto;



}
