<div class="container">

  <div class="row">
    <div class="col-md-4">

      <div class="courses-area">
        <h4>E ai, quer conferir mais indicações?<br>
          <a routerLink="/cursos">acesse esse link</a> e confira mais
        </h4>
      <div class="courses c1">
       <h4>Rocketseat</h4>
       <p>Bootcampo focado em front end para voce desenvolver projetos
        tecnologas como css, javascript e angular.</p>
       <button type="button" class="d-flex justify-content-center btn-go">
         <a class="text-white" target="_blank" href="https://app.rocketseat.com.br" >Go!</a></button>
     </div>
     <div class="courses">
      <h4>Generation Brasil</h4>
      <p>A Generation Brasil treina você nas habilidades mais relevantes para os empregadores, conectando você com o seu futuro. Saiba mais sobre nossos programas.</p>
      <button type="button" class="d-flex justify-content-center btn-go">
        <a class="text-white" target="_blank" href="https://brazil.generation.org" >Go!</a></button>
    </div>

    <div class="courses">
      <h4>Digital innovation One</h4>
      <p>+600 mil devs já estão programando o futuro e desenvolvendo sua carreiras com a DIO. Vem com a gente.</p>
      <button type="button" class="d-flex justify-content-center btn-go">
        <a class="text-white" target="_blank" href="https://www.dio.me/sign-in" >Go!</a></button>
    </div>
  </div>


    </div>



    <div class="col-md-8 area-postagens">

      <div class="new-post">
        <button
        type="button"

        data-bs-toggle="modal"
        data-bs-target="#novaPostagem">
    Nova postagem</button>
      </div>

      <div class="container" id="postagens">
        <nav>
          <div
            class="nav nav-tabs d-flex justify-content-center"
            id="nav-tab"
            role="tablist"
          >
            <button
              class="nav-link active text-secondary"
              id="nav-todasPostagens-tab"
              data-bs-toggle="tab"
              data-bs-target="#nav-todasPostagens"
              type="button"
              role="tab"
              aria-controls="nav-todasPostagens"
              aria-selected="true"
            >
              Todas as postagens
            </button>

            <button
              class="nav-link text-secondary"
              id="nav-minhasPostagens-tab"
              data-bs-toggle="tab"
              data-bs-target="#nav-minhasPostagens"
              type="button"
              role="tab"
              aria-controls="nav-minhasPostagens"
              aria-selected="false" (click)='findByidUsuario()'>Minhas postagens
            </button>

            <button
              class="nav-link text-secondary"
              id="nav-postagemTema-tab"
              data-bs-toggle="tab"
              data-bs-target="#nav-postagemTema"
              type="button"
              role="tab"
              aria-controls="nav-postagemTema"
              aria-selected="false"
            >
              Postagem por tema
            </button>
          </div>
        </nav>

        <div class="tab-content" id="nav-tabContent">
          <div
            class="tab-pane fade show active text-center"
            id="nav-todasPostagens"
            role="tabpanel"
            aria-labelledby="nav-todasPostagens-tab"
          >
          <div class="row d-flex justify-content-center">
            <div class="col-md-5">
              <div class="form-group">
                <input  [(ngModel)]='tituloPost' (keyup)="findByTituloPostagem()" class="form-control  card-t" id="titulo" type="text" placeholder="digite um titulo para pesquisar">

              </div>
            </div>
          </div>

            <div class="card-colums" *ngFor="let item of listaPostagens">
              <div class="card card-t mb-3" >
                <div class="row g-0">
                  <div class="col-md-4">
                    <img

                      src="{{ item.imagem }}"
                      class="img-fluid "
                      alt="..."
                      id="img-card"
                    />
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h3 class="card-title">
                        <strong>{{ item.titulo }}</strong>
                      </h3>
                      <p class="card-text">{{ item.texto }}</p>
                      <small>Tema: {{item.tema.descricao}}</small>

                      <!-- <p class="card-text">
                        <small class="text-muted"
                          >date /{{ item.data | date: "dd/MM/yyyy" }} ás
                          {{ item.data | date: "HH:mm" }}

                        </small>
                      </p> -->
                      <small>postado por: {{ item.usuario.nome }}</small>
                    </div>
                  </div>
                </div>
              </div>
            </div>


          </div>
          <div
            class="tab-pane fade text-center"
            id="nav-minhasPostagens"
            role="tabpanel"
            aria-labelledby="nav-minhasPostagens-tab"
          >
            <div class="card-colums" *ngFor="let item of usuario.postagem">
              <div class="card mb-3  card-t" >
                <div class="row g-0">
                  <div class="col-md-4">
                    <img
                      src="{{ item.imagem }}"
                      class="img-fluid rounded-start"
                      alt="..."
                    />
                  </div>
                  <div class="col-md-8">
                    <div class="card-body">
                      <h3 class="card-title">
                        <strong>{{ item.titulo }}</strong>
                      </h3>
                      <p class="card-text">{{ item.texto }}</p>
                      <small>Tema: {{item.tema.descricao}}</small>



                      <!-- <p class="card-text">
                        <small class="text-muted"
                          >date /{{ item.data | date: 'dd/MM/yyyy' }} ás
                          {{ item.data | date: 'HH:mm' }}
                        </small>


                      </p> -->

                      <a class="text-info" [routerLink]="['/postagem-edit', item.id]">Editar</a>
                      <a class="text-danger" [routerLink]="['/postagem-delete', item.id]" >Apagar</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div
            class="tab-pane fade text-center"
            id="nav-postagemTema"
            role="tabpanel"
            aria-labelledby="nav-postagemTema-tab"
          >

          <div class="row d-flex justify-content-center">
            <div class="col-md-5">
              <div class="form-group">
                <input  [(ngModel)]='nomeTema' (keyup)="findByNomeTema()" class="form-control  card-t" id="titulo" type="text" placeholder="digite um tema para pesquisar">

              </div>
            </div>
          </div>


          <div class="card-colums" *ngFor="let tema of listaTemas">
            <div class="card mb-3 card-t" *ngFor="let item of tema.postagem">
              <div class="row g-0">
                <div class="col-md-4">
                  <img
                  src="{{ item.imagem }}"
                  class="img-fluid rounded-start"

                  />
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h3 class="card-title">
                      <strong>{{ item.titulo }}</strong>
                    </h3>
                    <p class="card-text">{{ item.texto }}</p>

                      <!-- <p class="card-text"><small class="text-muted">
                        {{item.data | date: 'dd/mm/yyyy'}} às {{item.data | date: 'HH:mm'}}
                      </small></p> -->
                      <small>postado por: {{ item.usuario.nome }}</small>

                  </div>
                </div>
              </div>
            </div>
          </div>
            </div>
        </div>
      </div>





    </div>

  </div>
</div>

<!--  ===== MODAL   ====   -->
<div class="modal" id="novaPostagem" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Nova postagem</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="titulo">Título</label>
          <input
            [(ngModel)]="postagem.titulo"
            type="text"
            class="form-control"
            id="titulo"
            placeholder="Digite o título"
          />
        </div>

        <div class="form-group">
          <label for="texto">Texto</label>
          <textarea
            [(ngModel)]="postagem.texto"
            class="form-control"
            name="texto"
            id="texto"
            rows="3"
          ></textarea>
        </div>

        <div class="form-group">
          <label for="titulo">Coloque aqui sua foto</label>
          <input
            [(ngModel)]="postagem.imagem"
            type="text"
            class="form-control"
            id="titulo"
            placeholder="Digite o título"
          />
        </div>

        <div class="form-group">
          <p>
            Escolha um tema ou
            <button
              class="btn btn-primary btn-sm"
              data-bs-dismiss="modal"
              routerLink="/tema"
            >
              cadastre um novo
            </button>
          </p>
          <select
            name="tema"
            id="tema"
            class="form-control"
            [(ngModel)]="idTema"
            (change)="findByIdTema()"
          >
            <option *ngFor="let item of listaTemas" value="{{ item.id }}">
              {{ item.descricao }}
            </option>
          </select>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
            Cancelar
          </button>
          <button
            type="button"
            class="btn btn-primary"
            data-bs-dismiss="modal"
            (click)="publicar()"
          >
            Publicar
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

